server:
   port: 8030
spring:
   application:
     name: log-redis
   redis:
    # cluster:
  #   nodes: 192.168.140.130:7000,192.168.140.130:7001,192.168.140.130:7002,192.168.140.130:7003,192.168.140.130:7004,192.168.140.130:7005,192.168.140.129:7006,192.168.140.129:7007,192.168.140.129:7008,192.168.140.129:7009
     # database: 0 #注释的为单机版
      host: 192.168.140.130
      port: 6379
      timeout: 3000
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 10
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/