<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/share.css}" rel="stylesheet"/>
</head>
<body>
<header>
<div th:replace="common/header::html" ></div>
</header>
<article class="blogs">
<h1 class="t_nav">论坛首页          <input  id="q" th:value="${q}" /><button onclick="fourmsearch()">搜索</button></h1>
<div class="newblog left" id="forumlist">
    <div th:each="list:${listForum}">
  		<h2 th:text="${list.fTitle}"></h2><p class="dateview">作者：<span th:text="${list.fAuthor}"></span>
  		<span>分类:<span th:text="${list.type}"></span></span></p>
  		<ul class="nlist"><p style="width:400px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;" th:text="${list.fContent}">
			</p><a th:href="@{'/forum/deail/'+${list.id}}"   class="readmore">阅读全文>></a></ul>
  </div>
    <div class="line"></div>
     
    <div class="blank"></div>
    
</div>
<aside class="right">
   <div class="rnav">
      <h2>栏目导航</h2>
      <ul>
       <li><a >论坛主页</a></li>
		<li><a href="javascript:void(0)" onclick="addforum()">发帖子</a></li>
     </ul>      
    </div>

     <!-- Baidu Button BEGIN -->
    
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
    <!-- Baidu Button END -->   
</aside>
</article>
<footer>
     <div th:replace="common/footer::html" ></div>
</footer>
<script th:src="@{/js/jquery-1.9.1.js}"></script>
<script th:src="@{/js/fourm.js}"></script>
<script>



</script>
</body>
</html>