<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>iyt博客</title>
<meta name="keywords" content="iyt博客" />
<meta name="description" content="iyt博客" />
<link href="css/base.css" rel="stylesheet">
<link href="css/share.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
 <nav class="topnav" id="topnav"><a href="index.html"><span>首页</span><span class="en">Protal</span></a><a href="little.html"><span>点点滴滴</span><span class="en">A little</span></a><a href="forum.html"><span>论坛</span><span class="en">Forum</span></a><a href="log.html"><span>版本日志</span><span class="en">Version log</span></a><a href="advice.html"><span>宝贵意见</span><span class="en">Valuable advice</span></a><a href="personal.html"  ><span>个人中心</span><span class="en">Personal Center</span></a>
  <a href="javascript:void(0)" id="sigoon"><span><button onclick="login()">登录</button>   <button onclick="register()">注册</button></span><span class="en" >login  register</span></a></nav>
  </nav>
</header>
<article class="blogs">
<h1 class="t_nav">论坛首页          <input  id="q"><button onclick="fourmsearch()">搜索</button></h1>
<div class="newblog left" id="forumlist">
  
    <div class="line"></div>
     
    <div class="blank"></div>
    
</div>
<aside class="right">
   <div class="rnav">
      <h2>栏目导航</h2>
      <ul>
       <li><a >论坛主页</a></li>
		<li><a href="javascript:void(0)" onclick="addforum()">发帖子</a></li>
     </ul>      
    </div>

     <!-- Baidu Button BEGIN -->
    
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
    <!-- Baidu Button END -->   
</aside>
</article>
<footer>
  <p>版权所有 - yuantao yt0902@163.com</p>
</footer>
<script src="js/silder.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/fourm.js"></script>
<script src="js/top.js"></script>
<script>



</script>