<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<header>
 <div th:replace="common/header::html" ></div>
</header>
<article class="blogs">
<h1 class="t_nav"><span>记录工作中，业务生活中，个人兴趣爱好等等的点点滴滴不论技术情感！<input type="text" th:value="${q}" id="q"/><button onclick="search()">搜索</button></span><a href="javascript:void(0)" class="n2">点点滴滴</a></h1>
<div class="newblog left" id="blogteams">
  <div th:each="little:${results}">
  		<h2 th:text="${little.title}"></h2><p class="dateview">作者：<span th:text="${little.author}"></span>
  		<span>分类:<span th:text="${little.attribute}"></span></span></p>
  		<ul class="nlist"><p style="width:400px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;" th:text="${little.content}">
			</p><a th:href="@{'/blog/deial/'+${little.id}}"   class="readmore">阅读全文>></a></ul>
  </div>
    
 
</div>
<aside class="right">
   <div class="rnav">
      <ul>
       <li class="rnav1"><a href="Javascript:void(0)" onclick="advice()" target="_blank">记录点点</a></li>
       <li class="rnav2"><a href="javascript:void(0)" >兴趣人生</a></li>

     </ul>      
    </div>
<div class="news">
<h3>
      <p>最新<span>文章</span></p>
    </h3>
   <ul class="rank" id="timedesc"> 
    <li th:each="desc:${descBlogs}"><a th:href="@{'/blog/deial/'+${desc.id}}"  th:text="${desc.title}"></a></li>
    </ul>
    <h3 class="ph">
      <p>点击<span>排行</span></p>
    </h3>
    <ul class="paih" id="ratedesc">
        <li th:each="date:${dateBlogs}"><a th:href="@{'/blog/deial/'+${date.id}}"  th:text="${date.title}"></a></li>
    </ul>
    </div>
     <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
    <!-- Baidu Button END -->   
</aside>
</article>
<footer>
   <div th:replace="common/footer::html" ></div>
</footer>
<script th:src="@{/js/little.js}"></script>
<script>



</script>
</body>
</html>