<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>iyt博客</title>
<link href="./Wopop_files/style_log.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="./Wopop_files/style.css">
<link rel="stylesheet" type="text/css" href="./Wopop_files/userpanel.css">


</head>

<body class="login" mycollectionplug="bind">
<div class="login_m">
<div class="login_logo"><img src="./Wopop_files/logo.png" width="196" height="46"></div>
<div class="login_boder">

<div class="login_padding" id="login_model">

  <h2>账号登录</h2>
  <label>
    <input type="text" id="nickname" class="txt_input txt_input2"  value="" placeholder="请输入用户名/邮箱">
  </label>
  <h2>密码</h2>
  <label>
    <input type="password" name="textfield2" id="userpwd" class="txt_input" value="" placeholder="请输入密码">
  </label>
 
 

 
  <p class="forgot">还没有账号?<a id="iforget" href="javascript:void(0);" onclick="register()" >立即注册</a></p>
  <div class="rem_sub">
  <div class="rem_sub_l">
  <input type="checkbox" name="checkbox" id="save_me">
   <label for="checkbox">记住密码</label>
   </div>
    <label>
      <input type="submit" class="sub_button" name="button" id="button" onclick="signIn()" value="登录" style="opacity: 0.7;">
    </label>
  </div>
</div>






<!--login_padding  Sign up end-->
</div><!--login_boder end-->
</div><!--login_m end-->
 <br> <br>
<p align="center"> 版权所有 - yuantao yt0902@163.com</p>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/login.js"></script>
<script>

function register(){
	window.location.href="register.html";
}

</script>


</body></html>