<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/css/about.css}" rel="stylesheet"/>
</head>
<body>
<header>
<div th:replace="common/header::html" ></div>
</header>
<article class="aboutcon">
<h1 class="t_nav"><span>高大尚的中心</span><a href="javascript:void(0)" class="n1">个人中心</a></h1>
<h3><a th:href="@{/blog/userDeial/}+${user.name}">查看个人博客</a></h3>
<div class="about">

  <h2>个人资料</h2>
 <h3>姓名：<span th:text="${user.name}"></span></h3>
 <h3 > 昵称：<span th:text="${user.nickname}"></span></h3>
 <h3 >邮箱：<span th:text="${user.email}"></span></h3>
 <h4><a >修改密码</a></h4>
</div>

</article>
<footer>
  <div th:replace="common/footer::html" ></div>
</footer>
</body>
</html>