<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/share.css}" rel="stylesheet"/>
</head>
<body>
<header>
 <div th:replace="common/header::html" ></div>
</header>
<article class="blogs">
<div class="newblog left" id="forumlist">
    <div th:each="deial:${iblog}">
    <h2 th:text="${deial.title}"></h2>
    <p class="dateview">作者：<span th:text="${deial.author}"></span>
    	分类：<span th:text="${deial.attribute}"></span>
    </p>
    <ul class="nlist">
    <p style="width:400px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;" th:text="${deial.content}"></p>
    <a th:href="@{'/blog/deial/'+${deial.id}}"   class="readmore">阅读全文>></a></ul>
    </div>
     
    <div class="blank"></div>
    
</div>
<aside class="right">
   <div class="rnav">
      <h2>栏目导航</h2>
      <ul>
       <li><a >个人博客</a></li>
		
     </ul>      
    </div>

     <!-- Baidu Button BEGIN -->
    
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
    <!-- Baidu Button END -->   
</aside>
</article>
<footer>
 <div th:replace="common/footer::html" ></div>
</footer>
<script>



</script>
</body>
</html>