<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>欢迎</title>
  <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" th:href="@{/css/normalize.min.css}"/>
   <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

  <div class="form">
      
       <h1 align="center">欢迎注册<a th:href="@{/}">登录</a></h1>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up for Free</h1>
          
          <form th:action="@{/addUser}" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                NIck Name<span class="req">*</span>
              </label>
              <input type="text" name="nickname" required="required" autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required="required" name="name" autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" id="email" required="required" name="email" autocomplete="off" onblur="check()"/>
           <input type="button" id="btn" value="获取验证码" onclick="settime(this)" />
          </div>
          <div class="field-wrap">
            <label>
              Verification Code<span class="req">*</span>
            </label>
            <input type="text" id="code" required="required" name="code" autocomplete="off" onblur="Code()"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password" name="password"  required="required" autocomplete="off"/>
          </div>
          <input type="submit" class="button button-block" value="Get Started"/>
          </form>

        </div>
        
        <div id="login">   
      
          
       

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script th:src="@{/js/jquery.min.js}"></script>

    <script  th:src="@{/js/jquery-1.9.1.js}"></script>
    <script  th:src="@{/js/index.js}"></script>
    <script type="text/javascript">
 
    function check(){
    	var email=$("#email").val();
    	if(email==""){
    		alert("邮箱不能为空！");
    		return;
    	}else if(!regEmail.test(email)){
    		alert("邮箱格式错误！");
    		return ;
    	}
		$.ajax({
			type: 'post',
			url: '/sso/check/',
			data: {'email':email},
			dataType: 'text',
			success: function(result) {
				if(result=="existed"){
					alert("此邮箱已存在！");
					$("#email").val("");
				}
				  
			}
		});
    	
    }
    function Code(){
    	var email=$("#email").val();
    }
    	var countdown=120;
    	function settime(val) {
    		var email=$("#email").val();
        	if(email==""){
        		alert("请填写邮箱");
        		return;
        	}else if(!regEmail.test(email)){
        		alert("邮箱格式错误！");
        		return ;
        	}
            if (countdown == 0) {
                val.removeAttribute("disabled");
                val.value="获取验证码";
                countdown = 120;
            } else {
                val.setAttribute("disabled", true);
                val.value="重新发送(" + countdown + ")";
    			if(countdown==120){
    				SendCode();
    				}
                countdown--;
                setTimeout(function() {
                    settime(val)
                },1000)

            }
     
        }
    function SendCode(){
    	alert(22);
    	var email=$("#email").val();
    	$.ajax({
			type: 'post',
			url: '/sso/code/',
			data: {'email':email},
			dataType: 'text',
			success: function(result) {
				if(result=="existed"){
					alert("此邮箱已存在！");
					$("#email").val("");
				}else if(result=="error"){
					alert("邮件发送失败请稍后重试！");
				}else{
					alert("验证码以发送！");
				}
				  
			}
		});
    }
    </script>

</body>
</html>
